table {
  border-collapse: collapse;

  -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
  
width: 80%;
margin: auto;
margin-top: 2em;
  
}

 /* table, th, td {
  border: 1px solid;
} */

.myTable{
  margin: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
tr,td,th{
  padding: 10px;
}